<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<title>Carrito de compras</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Enlace a styles.css -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<!-- Enlace a ClienteVerCarrito.css -->
	<link rel="stylesheet" type="text/css" href="/css/ClienteVerCarrito.css">

</head>

<body>
	<div class="background-container"></div>
	<div class="overlay"></div>

	<nav class="navbar navbar-inverse">
		<input type="hidden" th:value="${#authentication.principal.username}" />
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Software Providers</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verProductos}">Productos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verPerfil/{username}(username=${#authentication.principal.username})}">Perfil</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verCarrito}">Carrito</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<div class="container mt-4">
		<h1 class="text-center mb-4"><b>Carrito de Compras</b></h1>
		<table class="table">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Sub-Total</th>
					<th>Quitar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${carrito}">
					<td th:text="${item.cod_prod}"></td>
					<td th:text="${item.nombre}"></td>
					<td th:text="${item.precio}"></td>
					<td th:text="${item.cantidad}"></td>
					<td th:text="${item.subtotal}"></td>
					<td><a th:href="@{'eliminarDelCarrito?id=' + ${item.cod_prod}}"
							class="btn btn-danger btn-sm">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<form th:action="@{/cliente/confirmar}" method="post">
			<div class="card mb-4">
				<div class="card-header text-center">
					<h5 class="card-title"><b>Boleta de Venta</b></h5>
				</div>
				<div class="card-body">
					<!-- Obtener el nombre de usuario del principal autenticado -->
					<input type="hidden" id="username" th:value="${#authentication.principal.username}" />
					<input type="hidden" th:value="${cliente.id}" name="clienteId" readonly>

					<br>
					<div class="form-group row">
						<label class="col-md-4 col-form-label">Productos</label>
						<div class="col-md-8">
							<input class="form-control" th:value="${#lists.size(carrito)} + ' producto(s) en el carrito'" name="nombreApellido" readonly>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<label class="col-md-4 col-form-label">Precio Total:</label>
						<div class="col-md-8">
							<input type="hidden" name="total" th:value="${total}">
							<input class="form-control" name="total" th:value="'S/ ' + ${total}" readonly>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<button type="submit" class="btn btn-success">Realizar Compra</button>
			</div>
		</form>

		<div class="text-center py-4">
			<a th:href="@{/cliente/verProductos}" class="btn btn-primary">Seguir Comprando</a>
			<a th:href="@{'cancelarCompra'}" class="btn btn-secondary">Cancelar Compra</a>
		</div>
	</div>
	<footer>
		&copy; 2023 Software Providers. Todos los derechos reservados.
	</footer>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script>
		window.watsonAssistantChatOptions = {
			integrationID: "a7a1b160-3517-49a8-8e5f-e56fad9c43fd", // The ID of this integration.
			region: "us-south", // The region your integration is hosted in.
			serviceInstanceID: "f8aac667-cbcf-48c8-a36d-13f1c9ad2fbb", // The ID of your service instance.
			onLoad: async (instance) => {await instance.render();}
		};
		setTimeout(function () {
			const t = document.createElement('script');
			t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
			document.head.appendChild(t);
		});
	</script>
</body>

</html>