<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<title>Productos</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Enlace a styles.css -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<link rel="stylesheet" type="text/css" href="/css/ClienteVerProductos.css">
</head>

<body>
<div class="background-container"></div>
<div class="overlay"></div>
	<nav class="navbar navbar-inverse">
		<input type="hidden" th:value="${#authentication.principal.username}" />
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Software Providers</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verProductos}">Productos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verPerfil/{username}(username=${#authentication.principal.username})}">Perfil</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente/verCarrito}">Carrito</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-4">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
			<div th:each="producto : ${lstProducto}" class="col">
				<div class="card h-100">
					<img th:src="@{'/images/' + ${producto.imagen}}" class="card-img-top" alt="Imagen del producto">
					<div class="card-body">
						<h5 class="card-title" th:text="${producto.nombre_prod}"></h5>
						<p class="card-text" th:text="${producto.desc_prod}"></p>
						<p class="card-text"><small class="text-muted"
								th:text="${producto.categoria.nombre_cat}"></small></p>
					</div>
					<div class="card-footer">
						<a th:href="@{'/cliente/verDetalle?prodId=' + ${producto.id_prod}}" class="btn btn-primary">Ver
							más</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script>
		window.watsonAssistantChatOptions = {
			integrationID: "a7a1b160-3517-49a8-8e5f-e56fad9c43fd", // The ID of this integration.
			region: "us-south", // The region your integration is hosted in.
			serviceInstanceID: "f8aac667-cbcf-48c8-a36d-13f1c9ad2fbb", // The ID of your service instance.
			onLoad: async (instance) => {await instance.render();}
		};
		setTimeout(function () {
			const t = document.createElement('script');
			t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
			document.head.appendChild(t);
		});
	</script>
</body>

</html>